<div class="tasks">
    <div [hidden]="view !== 'tasks'">
        <mat-form-field>
            <input matInput (keyup)="tasksService.applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="tasksService.dataSource" matSort>
                <ng-container *ngFor="let l of tasksService.aliases" matColumnDef='{{l.eng}}'>
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ l.rus }} </th>
                    <td mat-cell *matCellDef="let row" >
        <span *ngIf="l.type === 'date'">
          {{ row[l.eng] | amDateFormat: 'DD/MM/YYYY' }}
        </span>
                        <span *ngIf="l.type === 'string'"> {{row[l.eng]}} </span>
                        <span *ngIf="l.type === 'buttons'">
          <app-buttons [name]="row['name']" (emitEditing)="tasksService.openDialog($event)"></app-buttons>
        </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tasksService.columnsToDisplay()"></tr>
                <tr mat-row *matRowDef="let row; columns: tasksService.columnsToDisplay();">
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            <button mat-button color="primary" (click)="tasksService.createTask()">Create new task</button>
        </div>
    </div>
    <div *ngIf="view === 'gantt'">
        <app-diagramm></app-diagramm>
    </div>
    <div *ngIf="view === 'notes'">
        <app-notes></app-notes>
    </div>
    <div *ngIf="view === 'tags'">
        <app-tags></app-tags>
    </div>
    <div *ngIf="view === 'deadlines'">
        <app-deadlines></app-deadlines>
    </div>
    <div *ngIf="view === 'states'">
        <app-states></app-states>
    </div>
    <div *ngIf="view === 'docs'">
        <app-files></app-files>
    </div>
</div>
