<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false"
                 class="sidenav"
                 fixedInViewport>
        <mat-toolbar>Menu</mat-toolbar>
        <mat-divider></mat-divider>

        <mat-nav-list>
            <a  mat-list-item (click)="navService.sendMessage('tasks')">
                <mat-divider></mat-divider>
                <mat-icon class="menu-icon">list_alt</mat-icon>
                <span>Tasks</span>
            </a>
<!--            <a  mat-list-item (click)="navService.sendMessage('gantt')">-->
<!--                <mat-icon class="menu-icon">show_chart</mat-icon>-->
<!--                <span>Gantt</span>-->
<!--            </a>-->
            <a  mat-list-item (click)="navService.sendMessage('docs')">
                <mat-icon class="menu-icon">file_copy</mat-icon>
                <span>Docs</span>
            </a>
            <a  mat-list-item (click)="navService.sendMessage('notes')">
                <mat-icon class="menu-icon">notes</mat-icon>
                <span>Notes</span>
            </a>
            <a  mat-list-item (click)="navService.sendMessage('tags')">
                <mat-icon class="menu-icon">tag</mat-icon>
                <span>Tags</span>
            </a>
            <a  mat-list-item (click)="navService.sendMessage('deadlines')">
                <mat-icon class="menu-icon">alarm_on</mat-icon>
                <span>Dedlines</span>
            </a>

            <a  mat-list-item (click)="navService.sendMessage('states')">
                <mat-icon class="menu-icon">data_usage</mat-icon>
                <span>States</span>
            </a>


            <mat-divider></mat-divider>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    type="button">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>notepad-app</span>
        </mat-toolbar>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
