<ckeditor [editor]="editor" [(ngModel)]="editorData"></ckeditor>
<button mat-button (click)="save()">
<!--    {{'save' | uppercase}}-->
    <i class="material-icons">
        save
    </i>
</button>
<div class="files-list" *ngFor="let file of data;let i=index">
    <div [innerHTML]="file"></div>
    <button mat-button class="delete-file" (click)="deleteAttachment(i)">
        <i class="material-icons">
            delete
        </i>
    </button>
</div>

<button mat-button [mat-dialog-close]>{{'close' | uppercase}}</button>
